/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .banner h1 {
        font-size: 32px;
    }
    /*   css profil   */
    .person {
        padding-left: 3%;
        padding-right: 3%;
    }
    .person-foto {
        width: 50%;
        margin-bottom: 50px;
    }

    .profil {
        height: 1800px;
    }

}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    .header-right {
        display: none;
    }

    .banner {
        text-align: center;
    }

    .banner h1 {
        font-size: 20px;
        line-height: 28px;
    }

    .banner p {
        font-size: 12px;
        line-height: 5px;
    }

    .btn {
        width: 100%;
    }

    span.menu-icon {
        display: block;
    }
    /*   css profil   */
     .person {
        padding-left: 2%;
        padding-right: 2%;
    }

    .person-foto {
        width: 100%;
        margin-bottom: 20px;
    }

    .profil {
        height: 3700px;
    }
}
