* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
}

.clear {
    clear: left;
}

/*banner*/
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.container h1 span {
    color: #ffbf00;
}

.banner {
    padding: 180px 0 120px 0;
    text-align: center;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 46, 46, 0.5), rgba(46, 46, 46, 0.5)), url(images/background-banner.jpg);
    color: white;

}

.banner h1 {
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-size: 45px;
    margin-top: 20px;
    text-transform: uppercase;
}

.banner p {
    margin-bottom: 10px;
}


/*button style All*/
.btn-wrapper {
    text-align: center;
    margin: 40px 0;
}

.btn-wrapper p {
    margin: 10px 0;
}


.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    text-align: center;
}

.fa {
    margin-right: 5px;
}

/*bagian header nav menu*/
header {
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: rgba(46, 46, 46, 0.5);
}

.logo {
    width: 124px;
    margin-top: 20px;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    margin-right: -25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}

.header-right a {
    line-height: 65px;
    padding: 0 15px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
    opacity: 0.7;
}

.header-right a:hover {
    opacity: 1;
}

.header-right a:after {
    content: "";
    position: absolute;
    background-color: #ffbf00;
    display: block;
    height: 3px;
    bottom: 20px;
    transition: 0.3s;
}

.header-right a:hover:after {
    width: 100%;
    position: relative;
}

/*style button WHAT WE DO*/

.profile {
    opacity: 0.5;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    transition: ease-out 0.3s;
    font-size: 14px;
    outline: none;
    border: 2px solid #ffbf00;
    position: relative;
    z-index: 1;
}

.profile:hover {
    color: rgb(92, 92, 92);
    cursor: pointer;
    opacity: 1;
}

.profile:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #ffbf00;
}

.profile:hover::before {
    transition: 0.5 all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

/*style menu icon smartphone mode*/
span.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
}

/*about us*/
.about-us-icon {
    margin-top: 60px;
    height: auto;
    background-color: white;

}

.about-us-icon h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    padding-bottom: 10px;
}

.about-us-icon p {
    text-align: center;
    font-size: 12px;
    font-style: normal;
    margin-bottom: 3px;
}

/*about icon*/

.icons {
    float: left;
    width: 33%;
    box-sizing: border-box;
    margin-bottom: 60px;
}

.content-icon p {
    font-size: 14px;
    font-weight: bold;
    margin-top: 60px;
}

.icon-img {
    width: 50px;
    height: 50px;
    position: absolute;
}

.txt-contents {
    text-align: justify;
    margin-inline: 60px;
}

/*notes di tengah*/
.notes {
    padding: 100px 0 60px 0;
    text-align: center;
    background-size: cover;
    background-image: linear-gradient(rgba(44, 28, 28, 0.5), rgba(46, 46, 46, 0.5)), url(images/background-body.jpg);
    color: white;
}

.notes h3 {
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    font-style: italic;
    margin-bottom: 10px;
}

.notes h3 span {
    color: #ffbf00;
}

.notes p {
    font-size: 14px;
    font-weight: normal;
}


/*anggun sampe di sini*/


/* CSS Profil (ridho)  */

.profil {
    background-color:rgba(0, 0, 0, 0.8);
    height: 700px;
}

.container_1 {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.heading {
    padding-top: 80px;
    padding-bottom: 30px;
}

.heading h2 {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    color: white;
}


.person {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.person-foto {
    position: relative;
    width: 20%;
    float: left;
    padding: 0px 2px;
}

.image_img {
    display: block;
    width: 100%;
    
}

.image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image_overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image_overlay:hover {
    opacity: 1;
}

.image_overlay:hover > * {
    transform: translateY(0);
}

.image_title {
    font-size: 20px;
    font-weight: bold;
}

.sosmed {
    font-size: 20px;
    margin-top: 20px;
}

.sosmed a {
    padding: 0px 10px;
    color: white;
}
